* {
  padding: 0;
  margin: 0;
}
.container {
  padding: 3rem 6rem;
  width: 90rem;
}
.common-heading {
  padding: 2rem 0;
}
.common-heading h1 {
  /* font-family: "Baloo Bhai 2", cursive; */
  font-family: "Mulish", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
}
.common-heading p {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}
.grid {
  display: grid;
  gap: 2rem;
}
.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}
.grid-filter-column {
  grid-template-columns: 0.2fr 1fr;
}

figure {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s linear;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
    cursor: pointer;
  }
  &:hover::after {
    width: 100%;
  }
  &:hover img {
    transform: scale(1.2);
  }
  img {
    max-width: 100%;
    margin-top: 1.5rem;
    /* height: 11rem; */
    transition: all 0.2s linear;
  }

  .caption {
    position: absolute;
    top: 15%;
    right: 10%;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
  }
}

.card {
  background-color: lightgray;
  border-radius: 1rem;

  .card-data {
    padding: 0 1rem;
    font-family: "Courier New", Courier, monospace;
  }

  .card-data-flex {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pet {
    font-family: "Courier New", Courier, monospace;
  }
  h3 {
    text-transform: capitalize;
  }

  .card-data--price {
    font-size: 1rem;
  }

  .btn {
    margin: 2rem auto;
    background-color: rgb(0 0 0 / 0%);
    border: 0.1rem solid rgb(98 84 243);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(98 84 243);
    }

    &:hover a {
      color: #fff;
    }
    a {
      color: rgb(98 84 243);
      font-size: 1.4rem;
    }
  }
}
